{{#> layout}}
<span hx-trigger="load"
         hx-get="/components/header"
         hx-swap="outerHTML">
    loading header...
</span>
<span hx-trigger="load"
         hx-get="/components/unknown-person"
         hx-swap="outerHTML">
    loading content...
</span>
{{/layout}}
