<!DOCTYPE html>
<html lang="en">
  {{>components/head}} {{! Use another partial }}
  <body>
		{{> @partial-block}}
	</body>
  {{! Print the backup the parent would have shown if this partial didn't exist }}
</html>
