<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
        <title>{{ title }}</title>
    {{ else }}
        <title>WhoAreYou</title>
    {{/if}}
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
